<table>
    <tr>
        <td><pre>
Операции
-------------------------
ОПЕРАЦИИ
Заказы
Ручные операции
Очередь задач
Журнал уведомлений
Клиенты
Пользователи клиентов
Реселлеры
Подписки
Домены
Сертификаты
ФИНАНСЫ
Платежи
Обещанные платежи
Списания
Корректировки
Акты
-------------------------
ПРОДУКТЫ
Категории тарифных планов
Тарифные планы
Правила предоставления
Вендоры
Услуги
Поставщики сертификатов
Доменные регистраторы
Доменные зоны
Скидки и промо-коды</pre>
        </td>
        <td><pre>
            

Настройки
-------------------------
БИЛЛИНГ
Типы клиентов
Правила обслуживания
Способы оплаты
-------------------------
КОНФИГУРАЦИЯ
Системные настройки
Настройки безопасности
Настройки отчетов по лицензиям
Журнал событий
Сотрудники и права доступа
Роли сотрудников
Дополнительные параметры
Группы дополнительных параметров
Шаблоны интерфейса
Системная информация
APS пакеты
Модули
-------------------------
УВЕДОМЛЕНИЯ
Категории уведомлений
События уведомлений
Шаблоны уведомлений
SMS-шлюзы
-------------------------
МОДУЛИ
Отчёты
Настройки Oasis

        </pre></td>
    </tr>
</table>


